* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #002a79;
    padding: 10px;
}

/*
nav {
    text-align: center;
}

a {
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #011E53;
}
*/

/* Container Perfil Home */
.perfil-home {
    background-color: #011E53;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-text {
    text-align: right;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.txt-name {
    color: #FF5858;
    margin-bottom: 5px;
}

.txt-job {
    font-size: 25px;
}

.perfil-plase {
    margin-left: 50px;
}

.foto-perfil {
    background-color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* Projeto Container */
.projetos-content {
    background-color: #fff;
    width: 100%;
    height: 95vh;
}

.txt-projetos {
    margin-top: 40px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
}

.grid-projetos {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-projetos section {
    background-color: gray;
    width: 250px;
    height: 250px;
    margin: 5px;
}

/*catalogo-projeto primeiro quadro*/
.banner {
    background-color: #525252;
    width: 100%;
    height: 120px;
}

.body-card {
    margin: auto;
    padding: 5px;
    display: block;

}

.catalogo-projeto p {
    margin-bottom: 35px;
}

.catalogo-projeto nav {
    text-align: center;
}

.catalogo-projeto a {
    background-color: #007c3e;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

/* Habilidades Content */
.habilidades-content {
    background-color: #011E53;
    width: 100%;
    height: 95vh;
}

.txt-habilidades {
    color: #fff;
    padding-top: 40px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
}

.container-skill {
    list-style: inside;
    padding: 30px 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
}

.skill-front h1 {
    color: #00D9FF;
    padding-bottom: 10px;
}

.skill-front ul {
    color: #009DFF;
}

.skill-design {
    padding-top: 100px;
}

.skill-design h1 {
    color: #0DFF00;
    padding-bottom: 10px;
}

.skill-design ul {
    color: #00FF80;
}

/* Contato Content */
.contato-content {
    background-color: #fff;
    width: 100%;
    height: 95vh;
    font-family: Arial, Helvetica, sans-serif;
}

.txt-contato {
    padding-top: 40px;
    text-align: center;
    font-weight: 800;
}

form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin: 20px 0px;
}

label input, textarea {
    padding: 10px;
    width: 500px;
    background-color: #cfcfcf;
    border: 0;
}

textarea {
    height: 100px;
}

.button-area button {
    padding: 10px 20px;
    background-color: #cfcfcf;
    border: 0;
    font-weight: 700;
    cursor: pointer;
}

.midias-socias {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 50px;
}

/* Footer area */
footer {
    background-color: #000;
    height: 40px;
    padding: 10px;
    color: #fff;
    text-align: center;
}


@media screen and (max-width: 650px) { 
    /*Perfil home*/    
    .perfil-home {
        background-color: #011E53;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column-reverse;
    }

    .content-text {
        text-align: center;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }

    .txt-job {
        font-size: 20px;
        font-weight: bold;
    }

    .perfil-plase {
        margin-bottom: 40px;
    }

    /* Projeto Grade */
    
    /* Habilidades */
    .container-skill {
        list-style: inside;
        padding: 30px 60px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 1.5em;
    }

    /* Contato */
    label input, textarea {
        width: 400px;
    }
}

@media screen and (max-width: 450px) { 
    .container-skill {
        font-size: 15px;
    }

    .catalogo-projeto p {
        margin-bottom: 25px;
    }

    /* Contato */
    label input, textarea {
        width: 300px;
    }
}

@media screen and (max-width: 360px) { 
    .perfil-plase {
        margin-left: 0px;
    }

    .catalogo-projeto p {
        margin-bottom: 20px;
    }

    .container-skill {
        list-style: inside;
        padding: 30px 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height: 1.5em;
    }
}
