@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    /* Container Perfil */
    section.container-perfil { 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: none;
    }

    .content-text { 
        text-align: right;
        color: #fff;
        font-size: 20px;
    }

    .txt-name {
        color: #FF5858;
        margin-bottom: 5px;
    }

    .txt-job {
        font-size: 25px;
    }

    .perfil-plase {
        margin-left: 50px;
    }

    .foto-perfil {
        background-color: #fff;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    /* Projeto Container */
    .projetos-content {
        background-color: #fff;
        width: 100%;
        height: 95vh;
    }

    .txt-projetos {
        margin-top: 40px;
        text-align: center;
        font-weight: 800;
    }

    .grid-projetos { 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid-projetos section {
        background-color: gray;
        width: 250px;
        height: 250px;
        margin: 5px;
    }

    /*catalogo-projeto primeiro quadro*/
    .banner { 
        background-color: #525252;
        width: 100%;
        height: 120px;
    }

    .body-card {
        margin: auto;
        padding: 5px;
        display: block;
    }

    .catalogo-projeto p {
        margin-bottom: 35px;
    }

    .catalogo-projeto nav {
        text-align: center;
    }

    .catalogo-projeto a {
        background-color: #007c3e;
        padding: 5px 10px;
        border-radius: 10px;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }

    /* Habilidades Content */
.habilidades-content {
        background-color: #011E53;
        width: 100%;
        height: 95vh;
    }

    .txt-habilidades { 
        color: #fff;
        text-align: center;
        font-weight: 800;
    }

    .container-skill { 
        list-style: inside;
        padding: 30px 60px;
        font-size: 20px;
        line-height: 1.6em;
    }

    .skill-front h1 {
        color: #00D9FF;
        padding-bottom: 10px;
    }

    .skill-front ul {
        color: #009DFF;
    }

    .skill-design {
        padding-top: 100px;
    }

    .skill-design h1 {
        color: #0DFF00;
        padding-bottom: 10px;
    }

    .skill-design ul {
        color: #00FF80;
    }
}

/* Contato Content */
.contato-content { 
    background-color: #fff;
    width: 100%;
    height: 95vh;
}

.txt-contato {
    padding-top: 40px;
    text-align: center;
    font-weight: 800;
}

form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin: 20px 0px;
}

label input, textarea {
    padding: 10px;
    width: 500px;
    background-color: #cfcfcf;
    border: 0;
}

textarea {
    height: 100px;
}

.button-area button {
    padding: 10px 20px;
    background-color: #cfcfcf;
    border: 0;
    font-weight: 700;
    cursor: pointer;
}

.midias-socias {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 50px;
}

@media screen and (max-width: 650px) { 
    /* Habilidades */
    .container-skill {
        font-size: 18px;
        line-height: 1.5em;
        padding: 30px 45px;
    }

    /* Contato */
    label input, textarea {
        width: 400px;
    }
}

@media screen and (max-width: 450px) { 
    /* Habilidades */
    .container-skill {
        font-size: 15px;
        line-height: 1.4em;
        padding: 30px 30px;
    }

    .catalogo-projeto p {
        margin-bottom: 25px;
    }

    /* Contato */
    label input, textarea {
        width: 300px;
    }
}
