@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --cor1: #011E53;
    --cor2: #ffffff;
}

/* Container Perfil */
header {
    background-color: #002a79;
    height: 20px;
}

section.container-perfil {
    background-color: var(--cor1);
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

div.content-text {
    text-align: center;
    color: #fff;
    margin-top: 10px;
    transition: .3s;
    transition-timing-function: ease;
}

h1.txt-name {
    color: #FF5858;
    margin-bottom: 4px;
}

p.txt-job {
    font-size: 18px;
    font-weight: bold;
}

img.foto-perfil {
    background-color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: .3s;
    transition-timing-function: ease;
}

/* Projeto Container/Grade */
section.container-projetos {
    background-color: var(--cor2);
    padding-top: 50px;
    width: 100%;
    height: 94vh;
}

h1.txt-projetos {
    text-align: center;
    font-weight: 800;
}

article.grid-projetos { /* Melhorar essa no futuro */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Quadros da Grade */
div.quadro-projetos {
    display: block;
    background-color: gray;
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
}

div.head-quadro {
    background-color: #cfcfcf;
}

img.banner {
    height: 120px;
    width: 120px;
    display: block;
    margin: auto;
}

div.body-quadro {
    margin: 5px;
}

p.descricao-projeto { /* Tentar melhorar o botao no futuro*/
    margin-bottom: 15px;
}

button.button-projeto {
    margin: auto;
    display: block;
    background-color: #007c3e;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid black;
}

button.button-projeto:hover {
    background-color: #005a2d;
} 

button.button-projeto a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

/* Habilidades Content */
section.habilidades-container {
    background-color: var(--cor1);
    width: 100%;
    height: 94vh;
    padding-top: 50px;
}

h1.txt-habilidades {
    color: #fff;
    text-align: center;
    font-weight: 800;
}

/*skill container*/
div.content-skill {
    list-style: inside;
    margin: 30px 20px;
    font-size: 15px;
    line-height: 1.3em;
}

/*Front Skill*/
div.skill-front {
    margin-bottom: 100px;
}

div.skill-front h1 {
    color: #00D9FF;
    padding-bottom: 10px;
}

div.skill-front ul {
    color: #009DFF;
}

/*Design skill*/
div.skill-design h1 {
    color: #0ac900;
    padding-bottom: 10px;
}

div.skill-design ul {
    color: #00db6e;
}

/* Contato Content */
section.contato-container { 
    background-color: var(--cor2);
    padding-top: 50px;
    width: 100%;
    height: 90vh;
    padding-bottom: 10px;
}

h1.txt-contato {
    text-align: center;
    font-weight: 800;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > div > input, textarea {
    padding: 10px;
    width: 300px;
    background-color: #cfcfcf;
    border: 0;
    margin-top: 20px;
}

textarea {
    height: 120px;
}

form input[type=submit] {
    padding: 10px 20px;
    background-color: #cfcfcf;
    border: 0;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
}

form input[type=submit]:hover {
    background-color: #adadad;
}

div.midias-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 50px;
}

div.midias-sociais > a {
    color: black;
}

/* Footer area */
footer {
    background-color: #000;
    height: 60px;
    padding: 10px;
    color: #fff;
    text-align: center;
}